 <!DOCTYPE html>
<html>

<head>

<style>
/* body { background-color:DodgerBlue; } */
/*h2 { color:Cornsilk; }
label { color:Cornsilk; }*/
textarea { font-size: 18px; }
input { background-color: rgb(184, 193, 207); }
</style>
</head>

<body>

<h2 style="text-align:center" >Answer Saved</h2>
<h4>{{q}}</h4>
<p>{{a}}</p>


 <button type="button" onclick="document.location='unanswered'"   >Answer another question</button>
  <button type="button" onclick="document.location='home'"   >Home</button>
</form>

</body>

</html>
